# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules/
.pnp
.pnp.js
.yarn/*
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions

# testing
/coverage/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/

# next.js
/.next/
/out/
.swc/

# production
/build/

# IDEs and OS misc
.DS_Store
.AppleDouble
.LSOverride
Thumbs.db
.idea/
.vscode/

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env
.env.*
!.env.example
!.env.template

# vercel
.vercel/

# typescript
*.tsbuildinfo

# certs
*.pem

# database/misc
dump.rdb

# agents
.agents/